.nav{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
 text-align: center;
 color: royalblue;
}
.med{
    position: relative;
    text-align: center;
    color: white;
    position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.ti h1{
    grid-template: 1fr;
color: white;
text-align: center;
font-size: 75px;

}
.ti img{
    height: 150px;
    width: 450px;
    text-align: center;
}
.body img{
    position: relative;
    text-align: center;
    color: white;
    position: absolute;
  top: 12%;
  left: 7%;
  transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  body{
      background-color: black;
  }
  .main{
    color: royalblue;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main h1{
background-color: white;
box-shadow: 2px 2px 2px yellow;
  }
  .main h2{
    background-color: white;
    box-shadow: 2px 2px 2px yellow;
  }
  .main h3{
    background-color: white;
    box-shadow: 2px 2px 2px yellow;
  }
  .main h4{
    background-color: white;
    box-shadow: 2px 2px 2px yellow;
  }
  footer{
    background-color: tan;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
  text-decoration: none;
}